body {
  background-color: rgb(233, 190, 73);
  color: black;
  min-height: 100vh;
}

header {
  font-size: 23px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  border-radius: 2rem;
}

form button {
  color: rgb(37, 100, 236);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgb(37, 100, 236);
  color: white;
}
