body {
  background-color: rgb(233, 190, 73);
  color: black;
  min-height: 100vh;
}

header {
  font-size: 23px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  border-radius: 2rem;
}

form button {
  color: rgb(37, 100, 236);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgb(37, 100, 236);
  color: white;
}

.grocery__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grocery__list {
  min-width: 30%;
  list-style: none;
}

.grocery {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5 ease;
}

.grocery li {
  flex: 1;
}

.delete__btn,
.checked__btn {
  background: rgb(250, 10, 10);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.checked__btn {
  background: rgb(69, 180, 69);
}

.grocery__item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}
